<div class = "row">
  <div class = "col-md-12">
    <h4>Spis pokarmów:</h4>
      <div class = "fixed_header">
        <table class = "table table-striped ">
          <thead class="thead-light">
            <tr>
              <th>Nazwa</th>
              <th>Kalorie</th>
              <th>Białko</th>
              <th>Węglowodany</th>
              <th>Tłuszcz</th>
            </tr>
          </thead>
          <tbody>
            <% @pokarmies.each do |pokarmy| %>
              <tr>
                <th><%= pokarmy.nazwa %></th>
                <th><%= pokarmy.kalorie %></th>
                <th><%= pokarmy.bialko %></th>
                <th><%= pokarmy.weglowodany %></th>
                <th><%= pokarmy.tluszcz %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <p><i><%= link_to "Dodaj nowy pokarm do bazy", dodajpokarm_path, class: "btn btn-dark"  %></i></p>
    </div>
</div>
