<br><h1>spis pokarmow</h1>
<table>
  <tr>
    <th>Nazwa</th>
    <th>kalorie</th>
    <th>białko</th>
    <th>węglowodany</th>
    <th>tłuszcz</th>
    <th></th>
  </tr>

  <% @pokarmies.each do |pokarmy| %>
    <tr>
      <td><%= pokarmy.nazwa %></td>
      <td><%= pokarmy.kalorie %></td>
      <td><%= pokarmy.bialko %></td>
      <td><%= pokarmy.weglowodany %></td>
      <td><%= pokarmy.tluszcz %></td>
    </tr>
  <% end %>
</table>

<p><i><%= link_to "Dodaj nowy pokarm do bazy", new_pokarmy_path  %></i></p>
