<!DOCTYPE html>
<html>
  <head>
    <title>Pokarmies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <nav class="navbar navbar-expand-md navbar-dark text-light bg-dark sticky-top">
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/8hjUdDg.png"></a>
      </nav>
      <div class = "row">
        <% if flash[:success] %>
        <div class="col alert alert-success py-3 px-lg-3 m-4" role=alert border border-success">
          <%= flash[:success] %>
        </div>
        <% end %>
        <% if flash[:success2] %>
        <div class="col alert alert-info py-3 px-lg-3 m-4 role=alert border border-info">
          <%= flash[:success2] %>
        </div>
        <% end %>
        <% if flash[:error] %>
        <div class="col alert alert-danger py-3 px-lg-3 m-4 role=alert border border-danger">
          <%= flash[:error] %>
        </div>
        <% end %>
        <% if flash[:error1] %>
        <div class="col alert alert-warning py-3 px-lg-3 m-4 role=alert border border-warning">
          <%= flash[:error1] %>
        </div>
        <% end %>
        <% if flash[:wylog] %>
        <div class="col alert alert-warning py-3 px-lg-3 m-4 role=alert border border-warning">
          <%= flash[:wylog] %>
        </div>
        <% end %>
      </div>
      <div class="conatiner-fluid padding">
          <div class="row welcome text-center justify-content-md-center">
              <div class="col-11 py-3 px-lg-5 border bg-secondary border-dark m-3 text-light rounded">
                  <center>
                     <h2>Witaj sportowy świrze!</h2>
                  </center>
                  <center>Dzięki naszej stronie łatwiej osiągniesz cel kontrolując ilość spożywanych kalorii i makroskładników.<br>
                          Dodaj swoją wagę, wzrost, rok urodzenia i wybierz płeć, a nasz system zaproponuje Ci ilość kalorii, które są twoim zerem kalorycznym. <br>
                          Jesteś na masie? Redukcji? Możesz sam wpisać jaką ilość kalorii zamierzasz spożywać!<br>
                          Podgląd do historii spożytych posiłków, dodawanie nowych produktów do bazy? To wszystko znajdziesz u nas! <br>
                          Smacznego!
                  </center>
              </div>
          </div>
      </div>
      <div class="conatiner-fluid padding">
        <div class="row padding justify-content-md-center">
          <div class="col-lg-5 py-3 px-lg-5 border bg-secondary border-dark m-3 text-light rounded">
            <h3> Logowanie </h3>
            <%= form_tag sessions_path, class: '' do %>
              <table>
                <tr>
                  <td>E-mail: </td>
                  <td><%= text_field_tag(:email, nil, placeholder: 'Wpisz swoj email', class: '') %></td>
                </tr>
                <tr>
                  <td>Haslo: </td>
                  <td><%= password_field_tag(:password, nil, placeholder: 'Wpisz swoje haslo', class: '') %></td>
                </tr>
                <tr>
                  <td><%= submit_tag "Zaloguj", class: "btn btn-dark" %></td>
                </tr>
              </table>
            <% end %>
          </div>
          <div class ="col-lg-5 py-3 px-lg-5 border bg-secondary border-dark m-3 text-light rounded">
            <h3> Rejestracja </h3>
            <%= form_for(:user, url: users_path) do |f| %>
              <table>
                <tr>
                  <td><%= f.label :email, "E-mail" %></td>
                  <td><%= f.email_field :email %></td>
                </tr>
                <tr>
                  <td><%= f.label :password ,"Hasło" %></td>
                  <td><%= f.password_field :password %></td>
                </tr>
                <tr>
                  <td><%= f.label :password_confirmation, "Powtórz hasło" %></td>
                  <td><%= f.password_field :password_confirmation %></td>
                </tr>
                <tr>
                  <td><%= f.label :name ,"Nazwa"%></td>
                  <td><%= f.text_field :name %></td>
                </tr>
                <tr>
                  <td><%= f.submit "Zarejestruj", class: "btn btn-dark" %></td>
                </tr>
              </table>
              <%= recaptcha_tags %>
            <% end %>
          </div>
        </div>
      </div>
      <footer>
        <div class="conatiner-fluid padding">
          <div class="row text-center sticky-bottom py-3 px-lg-5 border bg-dark border-dark mt-3 text-light rounded">
              <div class="col-md-4 ">
                <hr>
                <p>Kontakt:</p>
                <hr>
                <p>555-555-555</p>
                <p>kontakt@kontakt.pl</p>
              </div>
              <div class="col-md-4">
                <hr>
                <p>Znajdziesz nas na:</p>
                <hr>
                <a href="#"><i class="fab fa-facebook fa-4x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-4x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-4x"></i></a>
                <a href="#"><i class="fab fa-youtube fa-4x"></i></a>
              </div>
              <div class="col-md-4 ">
                <hr>
                <p>Wykonali:</p>
                <hr>
                <p>Weronika Żukowska</p>
                <p>Marek Hajduczenia</p>
                <p>Przemek Jarocki</p>
              </div>
          </div>
      </div>
    </footer>
  </body>
</html>
