<!DOCTYPE html>
<html>
  <head>
    <title>Test1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="bigdiv">
    <div id="logo" >
    <h1>  Pokarmies</h1>
    </div>
    <div id="columns" >
      <div id="menu" >
        <h3> Logowanie </h3>
        <%= form_tag sessions_path, class: '' do %>
        <%= text_field_tag(:email, nil, placeholder: 'tu wpisz login', class: '') %>
        <%= password_field_tag(:password, nil, placeholder: 'tu wpisz hasło', class: '') %>
        <%= submit_tag("Login", class: '') %>
        <% end %>
        <% if flash[:error1] %>
        <div class="notice"><%= flash[:error1] %></div>
        <% end %>
      </div>
      <div id="content" >
        <% if flash[:wylog] %>
        <div class="notice"><%= flash[:wylog] %></div>
        <% end %>
        <% if flash[:success2] %>
        <div class="notice"><%= flash[:success2] %></div>
        <% end %>
        <h3> Rejestracja </h3>
        <%= form_for(:user, url: users_path) do |f| %>
          <table>
            <tr>
                <td><%= f.label :email %></td>
                <td><%= f.email_field :email %></td>
            </tr>
            <tr>
              <td><%= f.label :password %></td>
              <td><%= f.password_field :password %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, "Repeat password" %></td>
              <td><%= f.password_field :password_confirmation %></td>
            </tr>
            <tr>
              <td><%= f.label :name %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit %></td>
            </tr>

          </table>
        <% end %>
        <% if flash[:error] %>
        <div class="notice"><%= flash[:error] %></div>
        <% end %>
        <% if flash[:success] %>
        <div class="notice"><%= flash[:success] %></div>
        <% end %>
      </div>
    </div>
    <div id="stopka">
   to stopka
    </div>
    </div>
  </body>
</html>
