
<!DOCTYPE html>
<html>
  <head>
    <title>Test1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="bigdiv">
    <div id="logo" >
      Pokarmies
    </div>
    <div id="columns" >
      <div id="menu" >
          <p><h3> Zalogowano jako:<br>
          <%= current_user.name %> </h3></p>
          <p><i><%= link_to "Strona glowna", powitanie_path  %></i></p>
          <p><i><%= link_to "Historia", pokarm_path %></i></p>
          <p><i><%= link_to "Zarzadznie kontem", edycja_path %></i></p>
          <p><i><%= link_to "Dodaj nowy pokarm", spispokarmow_path %></i></p>
          <p><i><%= link_to "Wyloguj", logout_sessions_path %></i></p>
      </div>
      <div id="content" >

        <%= yield %>
      </div>
    </div>
    <div id="stopka">
   to stopka
    </div>
    </div>
  </body>
</html>
