
<!DOCTYPE html>
<html>
  <head>
    <title>Pokarmies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <div class="container-fluid vh-100">
    <div class = "row">
      <div class="col py-3 px-lg-3 border bg-dark border-dark m-3 text-light rounded" >
        <h1 class="display-2">  Pokarmies</h1>
      </div>
    </div>
    <div class = "row">
        <% if flash[:success1] %>
        <div class="col alert alert-success py-3 px-lg-3 m-4 role=alert border border-success">
          <%= flash[:success1] %>
        </div>
        <% end %>
    </div>
    <div class = "row">
    <div class="col-2 py-3 px-lg-5 border bg-secondary border-dark m-3 text-light rounded" id="aside" >
      <p><h4><center>Zalogowano jako:<br>
      <%= current_user.name %> </center></h3></h4><br>
      <center><p><i><%= link_to "Strona glowna", powitanie_path, class: "btn btn-dark", style: "width:200px;"  %></i></p>
      <p><i><%= link_to "Historia", pokarm_path, class: "btn btn-dark", style: "width:200px;" %></i></p>
      <p><i><%= link_to "Zarzadznie kontem", edycja_path, class: "btn btn-dark", style: "width:200px;" %></i></p>
      <p><i><%= link_to "Dodaj nowy pokarm", spispokarmow_path, class: "btn btn-dark", style: "width:200px;" %></i></p>
      <p><i><%= link_to "Wyloguj", logout_sessions_path, class: "btn btn-dark", style: "width:200px;" %></i></p></center>
      </div>
      <div class="col py-3 px-lg-5 border bg-secondary border-dark m-3 text-light rounded" style = "height:37em;" id="main">
        <%= yield =%>
      </div>
    </div>
    <div class = "row">
    <div class = "col py-3 px-lg-3 border bg-secondary border-dark m-3 text-light rounded">
      <blockquote class="blockquote text-right">
        Wykonane przez: Weronikę Żukowską, Marka Hajduczenia, Przemysława Jarockiego<br>
        ©copyright
      </blockquote>
    </div>
  </div>
  </body>
</html>
